.App {
  text-align: center;
  background: url("../public/black-tile-2.png"), #000000;
  background-position: right;
  /* background-repeat: no-repeat;  */
  background-size: 300px, auto, contain;

  @media screen and (max-width: 700px) {
    background: #000000;
  }
  
}

.heroImage {
  border-radius: 50%;
  width: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  background: linear-gradient(90deg, #000000, #000000, #00000000);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
